CMakeFiles/
CTestTestfile.cmake
catkin_generated/
cmake/
cmake_install.cmake

.idea/
.DS_Store
*.pyc

*/CMakeFiles/
*/catkin_generated/

ankle_publisher/Makefile

*/CTestTestfile.cmake
*/cmake_install.cmake
*/a.out
*.swp

Makefile

