<?xml version="1.0" ?>
<launch>
	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<arg name="world_name" default="$(find scouting_robot_description)/worlds/mud.sdf"/> 
		<arg name="paused" default="false"/>
		<arg name="use_sim_time" default="true"/>
    	<arg name="gui" default="true"/>
		<arg name="headless" default="false"/>
		<arg name="debug" default="false"/>
	</include>

	<include file="$(find scouting_robot_description)/launch/spawn_robot.launch"/>


</launch>